<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
</head>
<body>
  <h1>create a new post</h1>
  <form method="POST" action="/posts/add">
    <input type="text" placeholder="title" name="title"/>
    <textarea type="text" placeholder="description" name="description"></textarea>
    <input type="submit"/>
  </form>

  <h1>Posts</h1>
  {{#each posts}}
  <h2>{{title}}</h2>
  <p>{{description}}</p>
  {{/each}}
</body>
</html>